{% extends "base.html" %}

{% block content %}
    <h1>RSS Summarizer</h1>
    <p>Default targets should work on <a href="https://www.cbc.ca/rss/">any CBC RSS feed</a>.</p>
    <p><b>For Medium feeds,</b> such as <a href="https://medium.com/feed/towards-data-science">https://medium.com/feed/towards-data-science</a>, try: <br><tt>[ [('p', {'data-selectable-paragraph': ''})] ]</tt></p>

    <br>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.rss_url.label }}<br>
            {{ form.rss_url(size=32) }}
            {% for error in form.rss_url.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.html_tgts.label }}<br>
            {{ form.html_tgts(size=32) }}
            {% for error in form.html_tgts.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}